**.pyc
wallapop_app/templates/static.html
posts_guide.txt
db.sqlite3
wallapop/__pycache__/settings.cpython-39.pyc
wallapop/__pycache__/urls.cpython-39.pyc
wallapop/__pycache__/wsgi.cpython-39.pyc
wallapop_app/__pycache__/__init__.cpython-39.pyc
wallapop_app/__pycache__/admin.cpython-39.pyc
wallapop_app/__pycache__/apps.cpython-39.pyc
wallapop_app/__pycache__/forms.cpython-39.pyc
wallapop_app/__pycache__/models.cpython-39.pyc
wallapop_app/__pycache__/views.cpython-39.pyc
wallapop_app/migrations/__pycache__/__init__.cpython-39.pyc
wallapop_app/migrations/__pycache__/0001_initial.cpython-39.pyc
wallapop_app/migrations/__pycache__/0002_alter_comentari_data_com.cpython-39.pyc
wallapop_app/migrations/__pycache__/0003_alter_anunci_data.cpython-39.pyc
wallapop_app/migrations/__pycache__/0004_comentari_description_usuari_user_alter_anunci_data_and_more.cpython-39.pyc
wallapop_app/migrations/__pycache__/0005_usuari_avatar_usuari_bio.cpython-39.pyc
wallapop_app/migrations/__pycache__/0006_profile.cpython-39.pyc
wallapop_app/migrations/__pycache__/0007_alter_usuari_avatar.cpython-39.pyc
