{% extends 'base.html' %}

{% block container %}
<h1 style="color: black;text-align: center;">⬇Tots els anuncis⬇</h1>
<link rel="stylesheet" href="style.css">
<div>
    
            {% for anunci in anunci_objects %}
            <b>{{anunci.titol}}</b> <br>
            <a href="{{ anunci.get_absolute_url }}" ><img src="{{ MEDIA_URL }}{{anunci.foto}}" width="500" height="300"></a>
            <p><b>Usuari:</b><a href="{{ anunci.name.get_absolute_url }}"> {{anunci.name}}</p></a>
            <p><b>Data:</b>{{anunci.data}}</p>
            <p>{{anunci.descripton}}</p>
            <p><b>Preu:</b> {{anunci.preu}}€</p>
        </div>
    
    {% endfor %} 
</div>
{% endblock %}


